{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% load fields_view_tag %}
{% block title %}ROME/REA Photometry TOM{% endblock %}
{% block content %}
<div class="row" width="100%">
  <div class="col-lg-6">
    <p class="text-center"><img src="{% static 'img/ROME_FIELDS_fa15.jpeg' %}" alt="ROME Field map" class="img-fluid mx-auto rounded-corners"></p>
  </div>
  <div class="col-lg-6">
    <p class="text-center">
      {% fields_table %}
    </p>
  </div>
</div>
<footer class="footer-bar">
  <p class="right-align">Powered by <img src="{% static 'img/logo-color.png' %}" width="100px"></p>
</footer>
{% endblock %}
