{% load static tom_common_extras targets_extras %}
<link rel="stylesheet" href="{% static 'css/phot_tom.css' %}">
<a href="{% url 'tom_targets:update' pk=target.id %}" title="Update target" class="btn w3-button tom-db-button">Update Target</a>
<dl class="row box-frame">
  {% for key, value in target.as_dict.items %}
    {% if key == 'name' %}
        <dt class="col-sm-6">{% verbose_name target key %}</dt>
        <dd class="col-sm-6">{{ value|truncate_number }}</dd>
    {% elif key == 'ra' %}
        <dt class="col-sm-6">Field centre RA</dt>
        <dd class="col-sm-6">{{ value|deg_to_sexigesimal:"hms" }}</dd>
    {% elif key == 'dec' %}
        <dt class="col-sm-6">Field centre Dec</dt>
        <dd class="col-sm-6">{{ value|deg_to_sexigesimal:"dms" }}</dd>
    {% endif%}
  {% endfor %}
  {% for key, value in target.extra_fields.items %}
    <dt class="col-sm-6">{{ key }}</dt>
    <dd class="col-sm-6">{{ value }}</dd>
  {% endfor %}
</dl>
