{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% block title %}ROME/REA Photometry TOM{% endblock %}
{% block content %}

<div class="row content">

  <div class="col-sm-3 sidenav with-gutter">
    <div class="row box-frame" role="tabpanel">
      <h3>Search options</h3>
      <ul>
        <li class="active nav data-tab"><a href="{% url 'search_target_name' %}">Target name</a></li>
        <li class="nav data-tab"><a href="{% url 'search_target_position' %}">Position search</a></li>
      </ul>
    </div>

  </div>

  <div class="col-md-8 with-gutter">
    <div class="tab-content">
      <div class="tab-pane active">
        {% if search_type == 'name' %}
          <div class="col-6 centerbox">
              <center>
              <h3>Search by Target Name</h3>
              <form method="POST" class="post-form" action="{% url 'search_target_name' %}" >{% csrf_token %}
                  <table width="80%">
                      <tr>
                          <td><label for="{{form.name.id_for_label}}">Target name:</label></td>
                          <td>
                              <div class="fieldWrapper">
                                  {{form.name.errors}}
                                  {{form.name}}
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td></td>
                          <td align="center">
                              <div class="fieldWrapper">
                                  <button type="submit" class="save btn btn-default">Submit</button>
                              </div>
                          </td>
                      </tr>
                  </table>
              </center>
          </div>

          {% else %}

          <div class="col-6 centerbox">
              <center>
              <h3>Search by Target Position</h3>
              <form method="POST" class="post-form" action="{% url 'search_target_position' %}" >{% csrf_token %}
                  <table width="80%">
                      <tr>
                          <td><label for="{{form.name.id_for_label}}">Target RA [deg]:</label></td>
                          <td>
                              <div class="fieldWrapper">
                                  {{form.ra.errors}}
                                  {{form.ra}}
                              </div>
                          </td>
                              <td><label for="{{form.name.id_for_label}}">Target Dec [deg]:</label></td>
                              <td>
                                  <div class="fieldWrapper">
                                      {{form.dec.errors}}
                                      {{form.dec}}
                                  </div>
                              </td>
                      </tr>
                      <tr>
                        <td><label for="{{form.radius.id_for_label}}">Radius [arcsec]:</label></td>
                        <td>
                            <div class="fieldWrapper">
                                {{form.radius.errors}}
                                {{form.radius}}
                            </div>
                        </td>
                          <td colspan="2" align="center">
                              <div class="fieldWrapper">
                                  <button type="submit" class="save btn btn-default">Submit</button>
                              </div>
                          </td>
                      </tr>
                  </table>
              </center>
          </div>

          {% endif %}

    </div>
  </div>

{% if message|length > 0 %}
<div class="centerbox-container">
  <div class="centerbox">
    <center><h5>{{message}}</h5></center>
  </div>
</div>
{% endif %}

{% if rows|length > 0 %}
<div class="centerbox-container">
  <div class="centerbox">
    <p>
    {% if rows|length == 1 %}
        <center>Search returned {{rows|length}} entries</center>
    {% else %}
        <center>Search returned {{rows|length}} entries</center>
    {% endif %}
    </p>
    <p>
<table class="sortable" border="0">
    <tr><th>Entry number</th><th>Name</th><th>RA</th><th>Dec</th></tr>
    {% for row in rows %}
      <tr>
          <td><a href={% url 'targets:detail' row.0 %} STYLE="text-decoration:none">{{ row.0 }}</a></td>
          <td><a href={% url 'targets:detail' row.0 %} STYLE="text-decoration:none">{{ row.1 }}</a></td>
          <td>{{ row.2 }}</td>
          <td>{{ row.3 }}</td>
      </tr>
    {% endfor %}
</table>
</p>
</div>
</div>
{% endif %}

{% endblock %}
